@charset "UTF-8";

/* Body */
body {
  font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times",
    "Times New Roman", serif;
  margin: 0;
  background-color: rgba(51, 51, 51, 0.9);
  color: #ffffff;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  border-bottom: 1px solid #353635;
  background-color: #222;
}

h4.logo:hover {
  transform: translateY(-5px);
}

.hero_header {
  color: #ffffff;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
}

.text_column {
  width: 100%;
  text-align: center; /* Add this line to center-align the text */
  font-weight: lighter;
  line-height: 25px;
  color: #333333;
  padding: 20px;
}

/* More info */
.intro {
  background-color: #ffffff;
  padding-bottom: 35px;
}

.intro .column h3 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.intro .column p {
  color: #ffffff;
}

.cards {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 200px;
}

.intro .column p {
  text-align: justify;
  line-height: 25px;
  font-weight: lighter;
  margin-top: 4%;
}

.intro {
  display: inline-block;
  background-color: lightslategray;
}

.profile {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries */

@media (max-width: 320px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
  }

  .text_column {
    width: 100%;
    text-align: justify;
    padding: 0;
  }

  .intro .column p {
    width: 80%;
    margin-left: 0px;
  }

  .text_column {
    padding-left: 20px;
  }

  .thumbnail {
    width: 100%;
  }

  .column {
    width: 100%;
    margin-top: 0px;
  }

  .hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .logo,
  .text_column,
  .thumbnail,
  .column,
  .thumbnail,
  .text_column,
  .column,
  .profile,
  .intro .column p {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .text_column {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }

  .intro .column p {
    width: 90%;
    text-align: center;
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1703px) {
  .text_column {
    width: 100%;
  }

  .thumbnail {
    width: 48%;
  }

  .text_column {
    width: 90%;
    margin: 0;
    padding: 20px;
  }

  .intro .column p {
    width: 80%;
  }
}
